body{
    background-color: #8cc3ca;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    
}


.area-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 355px;
    height: 320px;
    padding: 35px;
    border-radius: 10px;

}

.login form{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.login input{
    margin-top: 10px;
    background-color: #f0f8ff;
    border: none;
    height: 40px;
    outline: none;
    border-radius: 8px;
    color: #4169e1;
    padding-left: 10px;
    
}

.login img{
    width: 80px;
    height: auto;
}

.imput::placeholder{
    color: #2a58e2;
    font-size: 15px;
}

form [type="submit"]{
    display: block;
    background-color: #e4e6e7fd;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

p{
    color: #6587eb;
}

a{
    color: #2a58e2;  
    text-decoration: none;
    margin-left: 01px; 
}